@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Hubot Sans';
	src: url('Hubot-Sans.woff2') format('woff2 supports variations'),
		url('Hubot-Sans.woff2') format('woff2-variations');
}

html {
	font-family: 'Hubot Sans';
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.heading {
	letter-spacing: 7px;
	font-size: xx-large;
}

.glass {
	background-color: rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(4px);
	border: solid 1px rgba(255, 255, 255, 0.1);
	border-radius: 0.25rem;
}
