@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'VT323', monospace;
	}
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.glowing-text {
	color: #fff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
		0 0 20px rgba(0, 255, 0, 0.8), 0 0 30px rgba(255, 255, 255, 0.8),
		0 0 5px rgba(0, 255, 0, 0.5);
}

.glow {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
		drop-shadow(0 0 20px rgba(255, 255, 255, 0.8))
		drop-shadow(0 0 30px rgba(255, 255, 255, 0.8))
		drop-shadow(0 0 5px rgba(0, 255, 0, 0.5));
}
